# Python things
*.pyc

# Temp
spark_2014_all/ALL/*

# Utilities
util/limiter

# Canned solver binaries
*_201?_*_*
altergo_*

# Reports
fp_progress*.*
report_*.txt
fishy.txt

# Results
data_*.p
benchmarks.p
results*.tar.xz

industrial_2*

stats_*.tex
